@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 200;
  src: url('ubuntu.ttf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
body {
  font-family: 'Arial';
  font-size: 8pt;
}

h1 {
  font-size: 6pt;
}
