@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('arial.ttf');
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
body {
  font-family: 'Arial';
}
