<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "JobPosting",
  "baseSalary": "1400",
  "datePosted": "2018-05-19",
  "description": "Agile Infrastructure and DevOps Engineer.",
  "educationRequirements": "Studying Secutiry Information at UNISINOS - São Leopoldo/RS.",
  "employmentType": "Remote",
  "experienceRequirements": "Minumum 2 years experience as Infrastructure as Code",
  "industry": "Computer Software",
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Porto Alegre",
      "addressRegion": "RS"
    }
  },
  "occupationalCategory": "15-1132.00 Software Developers, Application",
  "qualifications": "Ability to work in a team environment with members of varying skill levels. Highly motivated. Learns quickly.",
  "responsibilities": "Design and write specifications for tools for in-house customers Build tools according to specifications",
  "salaryCurrency": "BRL",
  "skills": "Continous Integration, Continuous Deployment, Cloud Computing",
  "specialCommitments": "VeteranCommit",
  "title": "DevOps Engineer",
  "workHours": "15 hours per week"
}
</script>
