<script type='application/ld+json'> {
  "@context": "http://schema.org/",
  "@type": "Occupation",
  "name": "Agile Infrastructure Developer, DevOps Enthusiast",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "lastReviewed": "2018-05-18T14:20:00-05:00"
  },
  "description": "Cloud solutions development and Infrastructure as Code",
  "estimatedSalary": [
    {
      "@type": "MonetaryAmountDistribution",
      "name": "base",
      "currency": "BRL",
      "unitText": "HOUR",
      "percentile10": "5760",
      "percentile25": "2304",
      "median": "120000.28",
      "percentile75": "130000",
      "percentile90": "150000"
    }
  ],
  "occupationLocation": [
    {
      "@context": "http://schema.org/",
      "@type": "Country",
      "name": "Brazil"
    },
    {
      "@context": "http://schema.org/",
      "@type": "State",
      "name": "Rio Grande do Sul"
    },
    {
      "@context": "http://schema.org/",
      "@type": "City",
      "name": "Porto Alegre"
    },
    {
      "@context": "http://schema.org/",
      "@type": "City",
      "name": "Estrela"
    }
  ],
} </script>
